{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans }}</h1>
    <h1> {{ category.title }}</h1>
     {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        {% if pagination.items|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'question.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'question.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'question.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'question.title') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in pagination.items %}
                 <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.createdAt|format_date('long') }}</td>
                    <td>{{ question.updatedAt|format_date('long') }}</td>
                    <td>{{ question.title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div>{{ 'question.no_question'|trans }}</div>
            <h1>Hello</h1>
        {% endif %}
        

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}