{% extends 'base.html.twig' %}

{% block title %}{{ 'title.record_view'|trans }} {{ user.id }}{% endblock %}

{% block body %}



    {% if user is defined %}
        
        <h1>{{ 'label.user'|trans }}</h1>
        <h3>{{ 'label.id'|trans }}: {{ user.id }}</h3>
        <p>{{ 'user.nickname'|trans }}: {{ user.nickname }}</p>
        <p>{{ 'user.email'|trans }}: {{ user.email }}</p>
        <a href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% else %}
        <p>{{ 'message.record_not_exist'|trans }}</p>
    {%  endif %}

{% endblock %}